.search-adventure {
  height: 37px;
  width: 400px;
  padding: 0 5px;
}

.bt__search {
  margin-left: 10px;
  padding: 0 18px 0 18px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 38px;
  cursor: pointer;
  color: #fff;
  background: #f5008f;
  border-radius: 4px;
  border: none;
}

.search-tags {
  height: 37px;
  width: 150px;
  padding: 0 5px;
}

.tag {
  display: flex;
  padding: 0 10px;
  margin-right: 10px;
  align-items: center;
  color: #fff;
  background: #6c62f0;
  border-radius: 4px;
  font-size: 20px;
  margin-top: 0;
  border: none;
  height: 38px;
}

.search-tags-form {
  position: relative;
  margin-top: 5px;
  display: flex;
}

.search-box {
  position: relative;
  display: flex;
}

.list-tags {
  width: 140px;
  position: absolute;
  list-style-type: none;
  font-size: 18px;
  border: solid 1px #000;
  color: #797674;
  margin-top: 35px;
  padding-left: 8px;
  background: #fff;
}

.selected-tags {
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.wrap-search-box {
  display: flex;
  flex-direction: column;
  width: 934px;
  margin: 0 auto;
}
