<header>
    <div class="header">
        <a href="/" class="root">
            <img src="{{ staticBasePath }}img/path2996.png" alt="path2996" title="path2996" class="path2996">
            <span class="header-title">Telltail</span>Games
        </a>
    </div>
</header>
<div class="line"></div>
