<div class="search-box">
    <input type="search" placeholder="Введите текст для поиска" class="search-adventure">
    <button class="bt__search">Найти</button>
</div>
<form id="search-tags-form" class="search-tags-form">
    <ul class="selected-tags" id="selected-tags"></ul>
    <div class="search-box">
        <input type="search" placeholder="Хештег" class="search-tags">
        <ul id="list-tags" class="list-tags" hidden></ul>
    </div>
</form>
